<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SpiderWebConnectionString" connectionString="Data Source=silver.mountunion.edu;Initial Catalog=SpiderWeb;Persist Security Info=True;User ID=SpiderWeb;Password=Owl42Skate"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength ="2097151"/>
  </system.web>
      </configuration>